@import '../../styles/base.scss';

.header {
    background-color: $themeColor;
    padding: 0 20px;
    height: $headerHeight;
    color: $textColor;
}

.headerSwitch {
    float: right;
    margin-top: $headerHeight/2 !important;
    transform: translate(-50%, -50%);
    background-color: rgba($color: #1668dc, $alpha: 0.8) !important;
}

.collapsedtrigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: $headerHeight;
    cursor: pointer;
    transition: color 0.3s;
}

.collapsedtrigger:hover {
    color: #1890ff;
}

.avatar {
    float: right;
    margin-top: $headerHeight/2;
    transform: translate(0, -50%);
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    border: 2px dashed rgba($color: #1668dc, $alpha: 0.4);
}