@import '../../styles/base.scss';

.header {
    background-color: $themeColor;
    padding: 0 20px;
    height: $headerHeight;
    color: $textColor;
}

.headerSwitch {
    float: right;
    margin-top: $headerHeight/2;
    transform: translate(-50%, -50%);
    background-color: #1668dc;
}

.collapsedtrigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: $headerHeight;
    cursor: pointer;
    transition: color 0.3s;
}

.collapsedtrigger:hover {
    color: #1890ff;
}