@import '../../styles/base.scss';

.header {
    background-color: $themeColor;
    padding-left: 40px;
    height: $headerHeight;
    color: $textColor;
}

.collapsedtrigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: $headerHeight;
    cursor: pointer;
    transition: color 0.3s;
}

.collapsedtrigger:hover {
    color: #1890ff;
}
