@import '../../styles/base.scss';

.content {
    background: $themeColor;
    margin: $space 16px;
    padding: 24px;
    min-height: calc(100vh-#{$footerHeight+$space * 2+$headerHeight});
    border-radius: $midRadius;
    color: $textColor;
}

.breadcrumb {
    margin-left: 16px;
    margin-top: $space;
}

.bItem {
    color: $textColor !important;
    font-size: 1rem;
}

.spinStyle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
