.cell {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba($color: #fff, $alpha: 0.3);
}

.spinner {
    width: 4rem;
    height: 4rem;
    border-top: 3px solid rgba($color: #1890ff, $alpha: 0.6);
    border-right: 3px solid transparent;
    border-radius: 50%;
    -webkit-animation: rotation 0.8s linear infinite;
    animation: rotation 0.8s linear infinite;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}